fastapi
uvicorn
python-dotenv
pydantic-settings
openai
python-multipart
sqlalchemy
pymupdf
alembic
qdrant-client
psycopg[binary]
celery[redis]
PyJWT
argon2-cffi
email-validator
minio
langchain-core>=1.0,<2.0
